<!DOCTYPE html>
<html lang="en">

    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="date" content="{% currentDate %}">
        <meta name="author" content="{{ settings.siteSettings.companyName }}">
        <meta name="description" content="{{ meta.description }}">
        <meta property="og:title" content="{{ meta.title }}" />
        <meta property="og:description" content="{{ meta.description }}" />
        <meta property="og:image" content="{{ meta.image}}" />
        <meta property="og:url" content="{{ meta.url}}" />

        <title>{{ settings.siteSettings.companyName }} - {{ meta.title }}</title>

        <!-- Required CSS files -->
        <link href="https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i" rel="stylesheet">
        <link rel="stylesheet" href="/assets/css/owl.carousel.css">
        <link rel="stylesheet" href="/assets/css/barfiller.css">
        <link rel="stylesheet" href="/assets/css/animate.css">
        <link rel="stylesheet" href="/assets/css/font-awesome.min.css">
        <!--<link rel="stylesheet" href="/assets/css/bootstrap.min.css">-->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
            <link rel="stylesheet" href="/assets/css/slicknav.css">
        <link rel="stylesheet" href="/assets/css/main.css">
        <link rel="stylesheet" href="/assets/css/style.css">

    </head>
<style>
body p, span{
    color:#000;
}
</style>
    <body>

        <div class="preloader">
            <span class="preloader-spin"></span>
        </div>
        <div class="site">
            <header >
                <div class="container">
                    <div class="row">
                    {% if settings.siteSettings.logo %}
                        <div class="col-6 col-sm-3 logo-column">
                            <h1><a href="index.html" class="logo">
                                <img src="{{ settings.siteSettings.logo }}" alt="{{ settings.siteSettings.logoAlt }}">
                            </a></h1>
                        </div>
                    {% endif %}
                        <div class="col-6 col-sm-9 nav-column clearfix">
                            <div class="right-nav">

                                <div class="header-social">
                                    {% for social in settings.socialSettings %}
                                        <a href="{{ social.socialUrl }}" class="fa fa-{{ social.socialName }}" aria-hidden="true" aria-label="{{ social.socialName }}"></a>
                                    {% endfor %}

                                </div>
                            </div>
                            <nav id="menu" class="d-none d-lg-block">
                                <ul>
                                    <!--class="current-menu-item"-->
                                    {% for menu in settings.navigationMenu %}
                                        <li>
                                            <a href="{{ menu.pageUrl }}" >{{ menu.pageName }}</a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </header>
            {% block pageHeader %}
                <div class="page-title sp" style="background-image: url({{ backgroundImage }})">
                    <div class="container text-center">
                        <h2>{{ title }}</h2>
                        <p>{{ description }}</p>
                    </div>
                </div>
            {% endblock pageHeader%}
            {% block content %}
                {{ content | safe }}
            {% endblock content %}

            {% block postContent %}{% endblock postContent %}
            {% include "layouts/footer.njk" %}
        </div>

        <!--Required JS files-->
        <script src="/assets/js/jquery-2.2.4.min.js"></script>
        <script src="/assets/js/vendor/popper.min.js"></script>
        <!--<script src="/assets/js/vendor/bootstrap.min.js"></script>-->
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
        <script src="/assets/js/vendor/owl.carousel.min.js"></script>
        <script src="/assets/js/vendor/isotope.pkgd.min.js"></script>
        <script src="/assets/js/vendor/jquery.barfiller.js"></script>
        <script src="/assets/js/vendor/loopcounter.js"></script>
        <script src="/assets/js/vendor/slicknav.min.js"></script>
        <script src="/assets/js/active.js"></script>
         <!-- Include the script that builds the page and powers Netlify CMS -->
    </html>