h1, h2, h3, h4, h5, h6 {
	/*clear: both;*/
}
h1{
	font-size: $font-size-h1 * 1rem;
}
h2{
	font-size:$font-size-h2  * 1rem;
}
h3{
	font-size:$font-size-h3 * 1rem;
}
h4{
	font-size:$font-size-h4 * 1rem;
}
