{% extends "layout/base.njk" %}

{% block content %}
 <div class="container">  
    <div class="row faq-grid">
        <div class="area">
            {{ content | safe }}
        </div><!-- blog-main -->    
      
        <div class="blog-sidebar">
          <div>
            <h2>About</h2>
            <p class="mb-0">{{ settings.siteSettings.companyDescription }}</p>
          </div>

          <div>
            <h3 class="font-italic">Archives</h3>
            <ol class="list-unstyled mb-0">
              <li><a href="#">March 2014</a></li>
              <li><a href="#">February 2014</a></li>
              <li><a href="#">January 2014</a></li>
              <li><a href="#">December 2013</a></li>
              <li><a href="#">November 2013</a></li>
              <li><a href="#">October 2013</a></li>
              <li><a href="#">September 2013</a></li>
              <li><a href="#">August 2013</a></li>
              <li><a href="#">July 2013</a></li>
              <li><a href="#">June 2013</a></li>
              <li><a href="#">May 2013</a></li>
              <li><a href="#">April 2013</a></li>
            </ol>
          </div>
          {% if settings.socialSettings | length %}
            <div class="p-3">
              <h4 class="font-italic">Elsewhere</h4>
              <ol class="list-unstyled">
                {% for social in settings.socialSettings %}
                  <li> <a href="{{ social.socialUrl }}" aria-label="{{ social.socialName }}">{{ social.socialName }}</a></li>
                {% endfor %}             
              </ol>
            </div>
        {% endif %}
        </div><!-- /.blog-sidebar -->
</div><!-- /.row -->
</div><!-- container -->
{% endblock content %}