/******************************
10. about-area
******************************/

.about-content {
    color: $c1;
    font-weight: 300;
    margin-top: 25px;

/*+mq(xmd)
  margin-bottom: 20px*/
    h3 {
        font-size: 24px;
        margin-bottom: 30px;
    }
    a.button {
        margin-top: 15px;
    }
}