{% extends settings.theme.base %}

{% block content %}
    <div class="container">
        <div class="row grid">
            <div class="content">
                {{ content | safe }}
            </div>
        </div>
    </div>
{% endblock content %}