{% extends "base.njk" %}

{% block pageHeader %}{% endblock pageHeader %}

{% block content %}

    <div class="about-area sp bg2">
        <div class="container">       
            <div class="row">              
                {% if about.imagePosition == "right" %}
                    {% include "layouts/about-right.njk" %}
                {% endif %}
                {% if about.imagePosition == "left" %}
                    {% include "layouts/about-left.njk" %}
                {% endif %}
                {% if about.imagePosition == "noImage" %}
                    <div class="col-md-8 mx-auto">
                        <div class="about-content">
                            <h2>{{ about.title}}</h2>
                            <p>{{ about.description }}</p>
                            {% if about.linkText %}
                                <a href="{{ about.linkUrl }}" class="button">{{ about.linkText }}</a>
                            {% endif %}
                        </div>
                    </div>
                {% endif %}

            </div>
        </div>
    </div>
{% endblock content %}