{% extends "base.njk" %}

{% block pageHeader %}{% endblock pageHeader %}

{% block content %}
    <div class="about-area sp bg2">
        <div class="container">
            <div class="row">
                {% if imagePosition == "right" %}
                    <div class="col-md-6">
                        <div class="about-content">
                            <h2>{{ title}}</h2>
                            <p>{{ description }}</p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="about-img">
                            <img src="{{image}}" alt="{{ title }}">
                        </div>
                    </div>
                {% endif %}
                {% if imagePosition == "left" %}
                    <div class="col-md-6">
                        <div class="about-img">
                            <img src="{{ image}}" alt="{{ title }}">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="about-content">
                            <h2>{{ title}}</h2>
                            <p>{{ description }}</p>
                        </div>
                    </div>
                {% endif %}
                {% if imagePosition == "noImage" %}
                    <div class="col-md-8 mx-auto">
                        <div class="about-content">
                            <h2>{{ title}}</h2>
                            <p>{{ description }}</p>
                            {% if linkText %}
                                <a href="{{ linkUrl }}" class="button">{{ linkText }}</a>
                            {% endif %}
                        </div>
                    </div>
                {% endif %}

            </div>
        </div>
    </div>
{% endblock content %}