{% extends "simple.njk" %}
<div class="about-area spt bg2">
            <div class="container">
                <div class="row">
                    {% if about.imagePosition == "right" %}
                        {% include "layouts/about-right.njk" %}
                    {% endif %}
                    {% if about.imagePosition == "left" %}
                        {% include "layouts/about-left.njk" %}
                    {% endif %}
                    {% if about.imagePosition == "noImage" %}
                        <div class="col-md-8 mx-auto">
                            <div class="about-content">
                                <h2>{{ about.title}}</h2>
                                <p>{{ about.description }}</p>
                                <a href="{{ about.linkUrl }}" class="button">{{ about.linkText }}</a>
                            </div>
                        </div>
                    {% endif %}

                </div>
            </div>
        </div>