
<div class="col-md-6">
    <div class="about-img">
      <img src="{{ about.image}}" alt="{{ about.title }}">
    </div>
</div>
<div class="col-md-6">
    <div class="about-content">
        <h2>{{ about.title}}</h2>
        <p>{{ about.description }}</p>
         {% if about.linkText %}
            <a href="{{ about.linkUrl }}" class="button">{{ about.linkText }}</a>
        {% endif %}
    </div>
</div>
