<div class="col-md-6">
    <div class="about-content">
        <h3>{{ about.title}}</h3>
        <p>{{ about.description }}</p>
        <a href="{{ about.linkUrl }}" class="button">{{ about.linkText }}</a>
    </div>
</div>
<div class="col-md-6">
    <div class="about-img">
        <a href="{{ about.linkUrl }}"><img src="{{ about.image}}" alt="{{ about.title }}"></a>
    </div>
</div>