<!DOCTYPE html>
<html lang="en"class="no-js">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="date" content="{% currentDate %}">
        <meta name="author" content="{{ settings.siteSettings.companyName }}">
        <meta name="description" content="{{ meta.description }}">
        <meta property="og:locale" content="en_US"/>
        <meta property="og:type" content="website111"/>
        <meta property="og:title" content="{{ meta.title }}"/>
        <meta property="og:description" content="{{ meta.description }}"/>
        <meta property="og:image" content="{{ settings.siteSettings.companyUrl ~ "/" ~ meta.image}}"/>
        <meta property="og:url" content="{{ meta.url}}"/>
        <meta property="og:site_name" content="{{ settings.siteSettings.siteName }}"/>
       <!-- <meta http-equiv="Content-Security-Policy" content="default-src 'self'; img-src https://*; child-src 'none';">-->
        <link rel="icon" href="/assets/img/favicon.jpg" type="image/x-icon" />
        <title>{{ settings.siteSettings.companyName }} - {{ meta.title }}</title>

        <!-- Required CSS files -->
       
        <link rel="stylesheet" href="/assets/css/font-awesome.min.css">
             
        {% if ( slider.showSlider == true ) 
            or( clientTestimonials.show == true )or( page.url == "/testimonials/" ) %}
            <link rel="stylesheet" href="/assets/css/owl.carousel.css">
           
        {% endif %}
        
       {% if  (page.url == "/") or (page.url == "/portfolio/") %}          
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
            <link rel="stylesheet" href="/assets/css/portfolio.css">
        {% endif %}    
        
        <link rel="stylesheet" href="/assets/css/style.css">

        <script>document.documentElement.classList.remove("no-js");</script>

        <script src="/assets/js/vendor/modernizr-custom.js"></script>
        <script src="https://unpkg.com/imagesloaded@4/imagesloaded.pkgd.min.js"></script>
        <!--<script src="/assets/js/lazysizes.min.js" async=""></script>-->
    </head>
    <body>
    
<style>
	/*.blur-up {
		-webkit-filter: blur(5px);
		filter: blur(5px);
		transition: filter 400ms, -webkit-filter 400ms;
	}

	.blur-up.lazyloaded {
		-webkit-filter: blur(0);
		filter: blur(0);
	}*/
    .no-js img.ll{
    	display: none;
    }
</style>
            <!-- need this or preloader -->
            <div class="preloader" >
                <span class="preloader-spin"></span>
            </div>
              
            {% include "layouts/header.njk" %}
            <main>
             {% block pageHeader %}
                {% if bannerTextBox.show == true %}                   
                    {% if layout == "homepage.njk" %}
                        {% set headerBanner="homeBannerId" %}
                    {% else %}
                        {% set headerBanner="headerPageBanner" %}
                    {% endif %}
                {% else %}
                    {% if page.url == "/about/" %}
                      {% endif %}
                  {% endif %}

                    <div class="page-title item-middle" id="{{ headerBanner }}">
                        {% if bannerTextBox.show == true %}
                            <link rel="stylesheet" href="/assets/css/banner-text-box.css">
                            <div class="middle-content text-center">
                                <div class="container">
                                    <div class="tr-section" >
                                        <div class="banner-info">
                                            <h1 >{{ bannerTextBox.title }}</h1>
                                        </div>
                                        <h2 >
                                            <span >{{ bannerTextBox.secondTitle }}</span>
                                            <br>
                                            <small>{{ bannerTextBox.description }}</small>
                                        </h2>
                                        <a href="{{ bannerTextBox.linkUrl }}"  class="button">
                                            <i class="fa fa-lg fa-cart-arrow-down" aria-hidden="true"></i> {{ bannerTextBox.linkText }}</a>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                       
                    </div>
                    {% if length %}##not putting the text title and description over the image
                     <div class="container text-center spt" >
                            <h2>{{ title }}</h2>
                            <p>{{ description }}</p>
                        </div>
                    {% endif %}
                {% endblock pageHeader%}

                {% block content %}
                    {{ content | safe }}
                {% endblock content %}

                {% block postContent %}{% endblock postContent %}
            </main>
            {% include "layouts/footer.njk" %}
        

        <!--Required JS files-->
        {% if (page.url == "/portfolio/") %}
            <script src="https://code.jquery.com/jquery-3.5.0.min.js"  integrity="sha256-xNzN2a4ltkB44Mc/Jz3pT4iU1cmeR0FkXs4pru/JxaQ=" crossorigin="anonymous"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
            <script src="/assets/js/vendor/isotope.pkgd.min.js"></script>
            <script src="/assets/js/active.js"></script>
        {% endif %}
        {% if (slider.showSlider == true) 
            or(clientTestimonials.show == true)or(page.url == "/testimonials/") %}
                <script src="https://code.jquery.com/jquery-3.5.0.min.js"  integrity="sha256-xNzN2a4ltkB44Mc/Jz3pT4iU1cmeR0FkXs4pru/JxaQ=" crossorigin="anonymous"></script>
                <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
                <script src="/assets/js/vendor/owl.carousel.min.js"></script>
                <script src="/assets/js/active.js"></script>
        {% endif %}

     
          

    </html>