{% extends "layouts/base.njk" %}

{% block content %}
    <link rel="stylesheet" href="/assets/css/blog_gallery.css">
    <div class="area">
        <div class="container">
            <div class="section-title">
                <h1>{{ title }}</h1>
                <h2>{{ description }}</h2>
            </div>
            <div class="gallery-grid">
                {% for post in collections.posts | reverse %}
                    <div class="item blog-item">
                        <div class="content">
                            {% if post.data.image | length %}
                                  {% insertLazyImage  post.data.image,  post.data.title | spaceless , "photothumb" %}
                      
                            {% endif %}
                            <h3>
                                <a href="{{ post.url }}">{{ post.data.title }}</a>
                            </h3>
                            <span class="date">{{ post.data.date | readableDate }}</span>
                            <p>{% excerpt post %}</p>
                            <div class="gallery-cta" aria-hidden="true" id="{{ post.data.title | spaceless }}-id">Read More →</div>

                        </div>
                    </div>
                {% endfor %}

                
                <script src="/assets/js/gallery.js"></script>
            </div>
        </div>
    </div>
    {% endblock content %}