 <div class="brand-area">
        <div class="container  spb">
            <div class="row ">
                {% for brand in collections.brands %}
                    <div class="col-md-3 col-6 single-brand">
                        <div class="inner">
                            <a href="{{ brand.data.url }}">
                              {% insertImage "{{ brand.data.image }}", "{{ brand.data.name }}" %}
                                </a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>