<link rel="stylesheet" href="/assets/css/faq.css">
  <div class="faq-area sp bg2">
                <div class="container">

                    <div class="section-title">
                        <h2>Frequently Asked Questions</h2>
                        <p>{{ faqs.description }}</p>
                    </div>

                    <div class="row">
                        {% if faqs.showImage == false %}
                         <div class="col-md-12">
                        {% else %}
                         <div class="col-md-6">
                         {% endif %}
                            <div class="faq">
                            {% for faq in faqs.faq %}
                                {% if loop.index <= faqs.number %}
                                    <toggle-section open="true">
                                        <h2 id="section-{{ loop.index }}">{{ faq.question }}</h2>
                                        <p>{{ faq.answer }} </p>
                                    </toggle-section>
                                {% endif %}
                            {% endfor %}
                            </div>
                        </div>
                         {% if faqs.showImage == true %}
                            <div class="col-md-6">
                                <div class="faq-img text-center">
                                    <img src="{{ faqs.image }}" alt="{{ faqs.imageAlt }}">
                                </div>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
<script src="/assets/js/collapsible.js"></script>
