{% extends "base.njk" %}

{% block content %}
    {% if slider.showSlider == true %}
        <div class="hero-slider">
            {% for banner in banners %}
                <div class="single-slide" style="background-image: url({{ banner.background }})">
                    <div class="inner">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="slide-content">
                                        <h2>{{ banner.headline }}</h2>
                                        <h3>{{ banner.blurb}}</h3>
                                        <div class="slide-btn">
                                            <a href="{{ banner.linkUrl }}" class="button">{{ banner.linkText }}</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endif %}
    {% if brands.show == true %}
        {% include "layouts/brands.njk" %}
    {% endif %}
    {% if about.show == true %}
        <div class="area spt">
            <div class="container">
                <div class="row grid">
                    {% if about.imagePosition == "right" %}
                        {% include "layouts/about-right.njk" %}
                    {% endif %}
                    {% if about.imagePosition == "left" %}
                        {% include "layouts/about-left.njk" %}
                    {% endif %}
                    {% if about.imagePosition == "noImage" %}
                        <div>
                            <div class="content">
                                <h2>{{ about.title}}</h2>
                                <p>{{ about.description }}</p>
                                <a href="{{ about.linkUrl ~ "/#" }}" class="button">{{ about.linkText }}</a>
                            </div>
                        </div>
                    {% endif %}

                </div>
            </div>
        </div>
    {% endif %}
    {% if homepageServices.show == true %}
        <div class="area spc">
            <div class="container">
                <div class="section-title">
                    <h2>{{ homepageServices.title}}</h2>
                    <h3>{{ homepageServices.description }}</h3>
                </div>
                <div class="cards">
                    <ul>
                        {% for service in collections.services %}
                            <li class="card">
                                <div class="text">
                                    <div class="title">
                                        <div class="icon">
                                            <i class="fa fa-{{ service.data.faIcon }}"></i>
                                        </div>
                                        <h3>
                                            <a href="{{ service.url }}" class="cardButton" aria-label="{{ service.url }}" aria-describedby="{{ service.data.title | spaceless }}-id">
                                                {{ service.data.title }}</a>
                                        </h3>
                                    </div>                                    
                                        <p>{{ service.data.description }}</p>                                    
                                    <span class="cta" aria-hidden="true" id="{{ service.data.title | spaceless }}-id">{{ homepageServices.linkText }} →</span>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    {% endif %}

    <div class="portfolio-area spc bg2">
        <div class="container">
            <div class="section-title">
                <a href="/portfolio">
                    <h2>{{ homepagePortfolio.title }}</h2>
                </a>
                <h3>{{ homepagePortfolio.description }}</h3>
            </div>
            <div class="row grid">
                {% for portfolio in collections.portfolio %}
                    <div class="single-portfolio">
                        <div class="inner">
                            <div class="portfolio-img">
                                <img src="{{ portfolio.data.image }}" alt="{{ portfolio.data.title }}">
                                <div class="hover-content">
                                    <div>
                                        <a href="{{ portfolio.url }}" class="button">{{ homepagePortfolio.linkText }}</a>
                                    </div>
                                </div>
                            </div>
                            <div class="content">
                                <h3>{{ portfolio.data.title }}</h3>

                                <span>{{ portfolio.data.genre}}</span>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    {% if clientTestimonials.show == true %}
        <div class="testimonial-area sp">
            <div class="container">
                <div class="section-title">
                    <h2>{{ clientTestimonials.title }}</h2>
                    <h3>{{ clientTestimonials.description }}</h3>
                </div>
                <div class="testimonial-slider bordered">
                    {% for testimonial in collections.testimonials %}
                        <div class="single-slide">
                            <div class="inner">
                                <p>{{ testimonial.data.quote }}</p>
                                <div class="client-info">
                                    {% if testimonial.data.headShot | length %}
                                        <div class="client-img">
                                            <img src="{{ testimonial.data.headShot }}" alt="{{ testimonial.data.name }}">
                                        </div>
                                    {% endif %}
                                    <div class="client-data">
                                        <h4>{{ testimonial.data.name }}</h4>
                                        <span>{{ testimonial.data.jobTitle }}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    {% endif %}

    {% if faqs.show == true %}
        {% include "layouts/faqscomponent.njk" %}
    {% endif %}
{% endblock content %}