{% extends "layouts/landing_page_base.njk" %}

{% block content %}
<section class="wrapper">
<h1>{{ title }}</h1>
<h2>{{ description }}</h2>
<p>These beautys are going to change your life.</p>
    <section class="cards">
        <ul class="cards_list">
            <li class="card">
                <article class="media">
                    <div class="media_image">
                    {% insertImage "/assets/img/tent-on-beach.jpg", "beauty tent" %}
                    </div>
                    <div class="media_title">
                        <h2><a href="">Beauty 1</a></h2>
                    </div>
                    <div class="media_content">
                        <p>This little beauty will keep you busy and interested for a long time.</p>
                        <span class="cta" aria-hidden="true" >See More →</span>
                    </div>
                </article>
            </li>
           <li class="card">
                <div class="media">
                    <div class="media_image">
                    {% insertImage "/assets/img/tent-on-beach.jpg", "beauty tent2" %}
                    </div>
                    <div class="media_title">
                        <h2><a href="">Beauty 2</a></h2>
                    </div>
                    <div class="media_content">
                        <p>This little beauty will keep you busy and interested for a long time.</p>
                        <span class="cta" aria-hidden="true" >See More →</span>
                    </div>
                </div>
            </li>
           <li class="card">
                <div class="media">
                    <div class="media_image">
                    {% insertImage "/assets/img/tent-on-beach.jpg", "beauty tent3" %}
                    </div>
                    <div class="media_title">
                        <h2><a href="">Beauty 3</a></h2>
                    </div>
                    <div class="media_content">
                        <p>This little beauty will keep you busy and interested for a long time.</p>
                        <span class="cta" aria-hidden="true" >See More →</span>
                    </div>
                </div>
            </li>
             <li class="card">
                <div class="media">
                    <div class="media_image">
                    {% insertImage "/assets/img/tent-on-beach.jpg", "beauty tent3" %}
                    </div>
                    <div class="media_title">
                        <h2><a href="">Beauty 3</a></h2>
                    </div>
                    <div class="media_content">
                        <p>This little beauty will keep you busy and interested for a long time.</p>
                        <span class="cta" aria-hidden="true" >See More →</span>
                    </div>
                </div>
            </li>
        </ul>
    </section>
</section>
{% endblock content %}