{% extends "layouts/base.njk" %}

{% block postContent %}

<div class="area">
    <div class="container">
            <div class="section-title">
                <h1>{{ title }}</h1>
                <p>{{ description }}</p>
            </div>
        <div class="row grid">
            <ul class="isotope-menu">
             <li data-filter="*" class="active">Show All</li>
                {% for category in portfolio.projectTypes %}
                <li data-filter=".{{ category.name }}">{{ category.name }}</li>
                {% endfor %}
                
            </ul>
        </div>

        <div class="row portfolio-isotope">
        {% for portfolio in collections.portfolio %}
            <div class="single-portfolio col-md-4  {% for projectType in portfolio.data.projectTypes %}
                     {{ projectType }}{% endfor %}">
                <div class="inner">
                    <div class="portfolio-img">
                                          {% insertImage  portfolio.data.image ,  portfolio.data.altText %}
                        <div class="hover-content">
                            <div>
                                <a href="{{ portfolio.url }}" class="button">{{ linkText }}</a>
                            </div>
                        </div>
                    </div>
                    <div class="portfolio-content">
                        <a href="{{ portfolio.url }}#"><h2>{{ portfolio.data.title }}</h2></a>
                        <span> {% for projectType in portfolio.data.projectTypes %}
                        {{ projectType }}
                        {% endfor %}</span>
                    </div>
                </div>
            </div>
            {% endfor %}
           
        </div>
    </div>
</div>  

{% endblock postContent %}