{% extends "layouts/simple.njk" %}

{% block postContent %}
    <div class="service-area sp">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">
                    <h2>{{ title }}</h2>
                    {% for post in collections.posts %}
                        <a href="{{ post.url }}">
                            <h3>{{ post.data.title }}</h3>
                        </a>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock postContent %}