{% extends "layouts/base.njk" %}

{% block content %}
    <div class="area">
        <div class="container">
            <div class="section-title">
                <h1>{{ title }}</h1>
                <p>{{ description }}</p>
            </div>
            <div class="cards" >
                <ul>
                    {% for priceOption in pricing.priceOptions %}
                        <li class="card {% if loop.index == 2 %}activeprice{% endif %}" >
                            <div class="text price">
                                <h2>{{ priceOption.title }}</h2>
                                <span>{{ priceOption.price }}</span>
                                <span>{{ priceOption.duration }}</span>
                                <ul>
                                    {% for feature in priceOption.features %}
                                        <li>{{ feature.name }}</li>
                                    {% endfor %}
                                </ul>
                                <a href="#" class="button">{{ linkText }}</a>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
{% endblock content %}