{% extends "base.njk" %}

{% block content %}
    <div class="container spt">
        <div class="row justify-content-med-center">
            <div class="col-md-10">
                {{ content | safe }}
            </div>
        </div>
    </div>
{% endblock content %}