{% extends "layouts/base.njk" %}

{% block postContent %}
   
    <link rel="stylesheet" href="/assets/css/testimonials.css">
    <div class="area">
        <div class="container">
            <div class="section-title">
                <h1>{{ title }}</h1>
                <p>{{ description }}</p>
            </div>
            <div class="testimonial-slider bordered">
                {% for testimonial in collections.testimonials %}
                    <div class="single-slide">
                        <div class="inner">
                            <p>{{ testimonial.data.quote }}</p>
                            <div class="client-info">
                                {% if testimonial.data.headShot | length %}
                                    <div class="client-img">
                                        {% insertLazyImage  testimonial.data.headShot,  testimonial.data.name, "" %}
                                    </div>
                                {% endif %}
                                <div class="client-data">
                                    <h2>{{ testimonial.data.name }}</h2>
                                    <h3>{{ testimonial.data.jobTitle }}</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

{% endblock postContent %}