.item-middle {
    display: table;
    width: 100%;
    height: 450px;

}
.middle-content {
    /* display: table-cell;*/
    vertical-align: middle;
    opacity: 60%;
}
.text-center {
    text-align: center!important;
}
.tr-section {
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 30px;
    overflow: hidden;
    background-color: #fff;
    -webkit-box-shadow: 0 3px 12px rgba(0,0,0,.09);
    -moz-box-shadow: 0 3px 12px rgba(0,0,0,.09);
    -ms-box-shadow: 0 3px 12px rgba(0,0,0,.09);
    -o-box-shadow: 0 3px 12px rgba(0,0,0,.09);
    box-shadow: 0 3px 12px rgba(0,0,0,.09);
}
.banner-info h1 {
    color: #723609;
    font-weight: bold;
}
h2 {
    text-align: center;
    background-color: rgba(96, 54, 124, 0);
}
h2 span {
    color: #723609;
    font-weight: lighter;
}
.middle-content .btn-primary {
    color: #fff;
    background-color: #000;
    border-color: #007bff;
}
