input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
	color: $color__text-input;
	border: 1px solid $color__border-input;
	border-radius: 3px;
	padding: 3px;

	&:focus {
		color: $color__text-input-focus;
	}
}

select {
	border: 1px solid $color__border-input;
}

textarea {
	width: 100%;
}

.cedarStreetSearch{
	text-align:right;
	padding-right: .5em;
	margin-top:1em;	
}
.cedarStreetSearch input[type="search"]{
	width: 41%;	
	font-size:80%;
}
.plant-archive h2{	
	margin: .2em;	
}
.plant-archive .cedarStreetSearch{	
		text-align:right;
		padding: .7em 1em;	
}
.plant-archive .search-form input[type="search"]{
		width: 400px;	
}
/*
.site-branding .menuSearch{
	text-align: right;
	margin: .1em .01em .01em .01em;
	padding: 1.5em;
}
.site-branding .menuSearch input[type="search"] {
	width:450px;
	margin:.2em;
	padding:.2em;
	font-size:80%;
}
*/