---
layout: base.njk
title: Contact Us
description: Please Contact Us, We Really Want To Hear From You!
backgroundImage: /assets/img/flowers.jpg
showMap: true
googleMap: https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d21448.536387198474!2d-122.27488896044919!3d47.7801479!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x54900f07e96d9cd1%3A0x5c1e31e65bda22ef!2sPCC%20Community%20Markets%20-%20Bothell!5e0!3m2!1sen!2sus!4v1586647357012!5m2!1sen!2sus
changeFreq: monthly
meta:
  title: Contact Us Page
  description: Please Contact Us, We Really Want To Hear From You
  image: /assets/img/realhazardLogo.jpg
  url: https://www.philekane.com
---
{% block postContent %}
<div class="area">
    <div class="container">
        <div class="area-title">
            <h1>{{ title }}</h1>
            <p>{{ description }}</p>
        </div>
        <div class="row grid">
            <div class="contact-info">
             <h2>Contact Information</h2>
                <div class="single-info">
                    <h3>Phone</h3>
                    <p>{{ settings.siteSettings.phone }}</p>
                </div>
                <div class="single-info">
                    <h3>Email</h3>
                    <p>{{ settings.siteSettings.email }}</p>
                </div>
                <div class="single-info">
                    <h3>Address</h3>
                    <p>{{ settings.siteSettings.address }}</p>
                </div>
                <div class="single-info">
                    <h3>Social</h3>
                    <p class="contact-social-icon">
                        {% for social in settings.socialSettings %}
                            <a href="{{ social.socialUrl }}" class="fa fa-lg fa-{{ social.socialName }}"  aria-label="{{ social.socialName }}"></a>
                        {% endfor %}
                    </p>
                </div>
            </div>
            <div id="respond">
                <form action="#" name="contact-page" netlify class="contact-form">
                    <fieldset>
                        <legend></legend>
                        <div>
                            <label for="name">Name:</label>
                            <input type="text" id="name" name="name"  aria-label="name" aria-describedby="username-tip" autofocus="" value="">
                            <div role="tooltip" id="username-tip">Please add your full name.</div>
                        </div>
                        <div>
                            <label for="email">Email:</label>
                            <input type="email" name="email" id="email"  aria-label="email" aria-describedby="email-tip" value="">
                            <div role="tooltip" id="email-tip">Please add your email address.</div>
                        </div>
                        <div>
                            <label for="subject">Subject:</label>
                            <input type="text" name="subject" id="subject"  aria-label="subject" aria-describedby="subject-tip">
                            <div role="tooltip" id="subject-tip">Please add your subject.</div>

                        </div>
                        <div>
                            <label for="message">Message:</label>
                            <textarea name="message" id="message"  aria-label="message" aria-describedby="message-tip"></textarea>
                            <div role="tooltip" id="message-tip">How may we help you and your business?</div>
                        </div>
                        <div>
                            <input type="hidden" name="submitted" value="1">
                            <input class="button" type="submit" value="submit">
                        </div>
                    </fieldset>
                    <input type="hidden" name="-od_wxsAu" value="GmY*IrCpf"><input type="hidden" name="sIKiNyJ" value="vGSmD7C"><input type="hidden" name="hdL_ZczC" value="7ANK1Q[R"><input type="hidden" name="u-ZaTrFHGBStxj" value="B7S_si2jeDc6pa">
                </form>
            </div>
        </div>
    </div>
    <!-- container -->
</div>
{% if showMap == true %}

    <div class="google-map">
        <iframe src="{{ googleMap }}" title="map"></iframe>
    </div>
{% endif %}
{% endblock postContent %}