---
layout: base.njk
title: Contact Us
description: Please Contact Us, We Really Want To Hear From You
backgroundImage: /assets/img/page-title.jpg
showMap: true
googleMap: https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d21448.536387198474!2d-122.27488896044919!3d47.7801479!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x54900f07e96d9cd1%3A0x5c1e31e65bda22ef!2sPCC%20Community%20Markets%20-%20Bothell!5e0!3m2!1sen!2sus!4v1586647357012!5m2!1sen!2sus
---
    <div class="contact-area sp">
    <div class="container">
        <div class="row">
            <div class="col-md-5 contact-info">
                <div class="single-info">
                    <h5>Phone</h5>
                     <p>{{ settings.siteSettings.phone }}</p>
                </div>
                <div class="single-info">
                    <h5>Email</h5>
                    <p>{{ settings.siteSettings.email }}</p>
                </div>
                <div class="single-info">
                    <h5>Address</h5>
                    <p>{{ settings.siteSettings.address }}</p>
                </div>
                <div class="single-info">
                    <h5>Social</h5>
                    <p>
                     {% for social in settings.socialSettings %}
                        <a href="{{ social.socialUrl }}" class="fa fa-{{ social.socialName }}"></a>
                     {% endfor %}
                    </p>
                </div>
            </div>
            <div class="col-md-7">
                <form action="#" name="contact-page" netlify class="contact-form">
                    <div class="row">
                        <div class="col-lg-6">
                            <input type="text" name="name" placeholder="Name">
                        </div>
                        <div class="col-lg-6">
                            <input type="email" name="email" placeholder="Email">
                        </div>
                        <div class="col-lg-12">
                            <input type="text" name="subject" placeholder="Subject">
                        </div>
                        <div class="col-lg-12">
                            <textarea name="message" placeholder="Message"></textarea>
                        </div>
                        <div class="col-lg-12">
                            <input class="button" type="submit" value="Send Message">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% if showMap == true %}
    <div class="google-map">
        <iframe src="{{ googleMap }}"></iframe>
    </div>  
{% endif %}