---
layout: blog.njk
permalink: /posts/
backgroundImage: /assets/img/flowers.jpg
---
<link rel="stylesheet" href="/assets/css/article.css">
 <script src="https://cdnjs.cloudflare.com/ajax/libs/holder/2.9.7/holder.js" ></script>



{% set postslist = collections.posts %}
{% include settings.theme.path~"postslist.njk" %}