---
layout: blog.njk
permalink: /posts/
backgroundImage: /assets/img/flowers.jpg
backgroundImageAltText: Blog Page
bannerTextBox:
  show: false
  title: Real Hazards
  secondTitle: KEEP YOUR FAMILY SAFE
  description: Follow steps to ensure your home and family are safe
  linkText: Shop Now
  linkUrl: /about
---
<link rel="stylesheet" href="/assets/css/article.css">



{% set postslist = collections.posts %}
{% include "layouts/postslist.njk" %}