---
layout: "layouts/pricing.njk"
title: "Our Pricing"
description: "Our many price options"
backgroundImage: "/assets/img/page-title.jpg"
linkText: "Sign Up"
meta:
  title: Pricing Page
  description: Our many price options
  image: assets/img/realhazardLogo.jpg
  url: https://www.philekane.com
---
    <div class="pricing-area sp">
    <div class="container">
        <div class="section-title">
            <h2>{{ title }}</h2>
            <p>{{ description }}</p>
        </div>
          <div class="row">
            {% for priceOption in pricing.priceOptions %}
            <div class="col-md-6 col-lg-4 single-pricing"  >
                <div class="inner">
                   <div class="title">
                        <h2>{{ priceOption.title }}</h2>
                        <div class="price">
                            <span>{{ priceOption.price }}</span>
                            <span>{{ priceOption.duration }}</span>
                        </div>
                   </div>
                   <ul>
                   {% for feature in priceOption.features %}
                        <li>{{ feature.name }}</li>
                   {% endfor %}
                   </ul>
                   <a href="#" class="button">{{ linkText }}</a>
                </div>
            </div>
            {% endfor %}
        </div>
    
        <div class="row">
            <div class="col-md-6 col-lg-3 single-pricing-2">
                <div class="inner">
                   <div class="title">
                        <h2>Free</h2>
                        <div class="price">
                            <span>$29</span>
                            <span>2 month</span>
                        </div>
                   </div>
                   <ul>
                       <li>5GB Storage</li>
                        <li>1GB RAM</li>
                        <li>400GB Bandwidth</li>
                        <li>10 Email Address</li>
                        <li>Forum Support</li>
                   </ul>
                   <a href="#" class="button">Sign Up</a>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 single-pricing-2 active">
                <div class="inner">
                   <div class="title">
                        <h2>Free</h2>
                        <div class="price">
                            <span>$29</span>
                            <span>2 month</span>
                        </div>
                   </div>
                   <ul>
                       <li>5GB Storage</li>
                        <li>1GB RAM</li>
                        <li>400GB Bandwidth</li>
                        <li>10 Email Address</li>
                        <li>Forum Support</li>
                   </ul>
                   <a href="#" class="button">Sign Up</a>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 single-pricing-2">
                <div class="inner">
                   <div class="title">
                        <h2>Free</h2>
                        <div class="price">
                            <span>$29</span>
                            <span>2 month</span>
                        </div>
                   </div>
                   <ul>
                       <li>5GB Storage</li>
                        <li>1GB RAM</li>
                        <li>400GB Bandwidth</li>
                        <li>10 Email Address</li>
                        <li>Forum Support</li>
                   </ul>
                   <a href="#" class="button">Sign Up</a>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 single-pricing-2">
                <div class="inner">
                   <div class="title">
                        <h2>Free</h2>
                        <div class="price">
                            <span>$29</span>
                            <span>2 month</span>
                        </div>
                   </div>
                   <ul>
                       <li>5GB Storage</li>
                        <li>1GB RAM</li>
                        <li>400GB Bandwidth</li>
                        <li>10 Email Address</li>
                        <li>Forum Support</li>
                   </ul>
                   <a href="#" class="button">Sign Up</a>
                </div>
            </div>
        </div>
    </div>
</div> 